.card_wrapper {
  display: flex;
  flex-direction: column;
  width: 165px;
  height: auto;
  margin: 15px 3px;
  position: relative;
  cursor: pointer;
  object-fit: contain;
  transition: transform 0.5s ease;
}

.card_wrapper:hover {
  transform: scale(1.05);
}

.card_wrapper:hover .play_icon {
  visibility: visible;
}

.play_icon {
  visibility: hidden;
}

.play_icon:hover {
  color: #0092ca;
}
